---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---

<div class="relative min-h-screen font-sans">
  <!-- background -->
  <img
    src={background.src}
    alt=""
    fetchpriority="high"
    class="fixed inset-0 -z-10 h-full w-full blur-[100px]"
  />

  <main class="flex min-h-screen justify-center">
    <section
      class="flex max-w-xl flex-col justify-center gap-4 p-4"
    >
      <a href="https://astro.build">
        <img
          src={astroLogo.src}
          width="115"
          height="48"
          alt="Astro Homepage"
        />
      </a>

      <h1 class="text-[22px] leading-relaxed text-red-500">
        To get started, open the
        <code
          class="mx-1 rounded-lg border border-transparent bg-gradient-to-r from-pink-300 to-purple-300 px-2 py-1 text-transparent bg-clip-text"
        >
          <pre class="inline">src/pages</pre>
        </code>
        directory in your project.
      </h1>

      <!-- links -->
      <div class="flex flex-wrap gap-4">
        <a
          href="https://docs.astro.build"
          class="rounded-xl bg-gradient-to-r from-blue-600 to-purple-500 px-4 py-2 text-white shadow"
        >
          Read our docs
        </a>

        <a
          href="https://astro.build/chat"
          class="flex items-center gap-2 px-3 py-2 text-gray-900 hover:text-gray-600"
        >
          Join our Discord
        </a>
      </div>
    </section>
  </main>
</div>
