---
import '@/styles/tailwind.css'
import '@/styles/main.scss'
import Menu from '@/components/Menu.svelte'
import { useMenu } from '@/utils/useMenu'

const { menu } = await useMenu()
// 取得當前路徑 (例如 /notes/java/20260205-type)
const currentPath = Astro.url.pathname
---

<!doctype html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<title>Jeremy & Aira</title>
  </head>
  <body class="bg-[#050505] text-slate-200 min-h-screen flex flex-col">
    
    <Menu client:load rootItems={menu} currentPath={currentPath} />

    <main class="flex-1 w-full max-w-7xl mx-auto px-4 pt-28 pb-12">
      <slot />
    </main>

  </body>
</html>